# Auto detect text files and perform LF normalization
* text=auto
ACCESS
SUCCESS
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~100%
HOW MUCH ?
$100000000
SUCCESS...................................
wHERE?
BANK ACCOUNT
WHAT TYPE?
CHECKINGS
TYPE: AMEX SERVE PREPAID
